@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  font-family: Inter,ui-sans-serif,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  cursor: pointer;
  color: initial;
}

:root.dark a {
  color: white;
}

blockquote {
  position: relative;
}

blockquote::before{
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  background-color:  grey;
  height: 100%;
  width: 5px;
}