@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  font-family: Inter,ui-sans-serif,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  --header-height: 64px;
  --footer-height: 82px;

  .custom-scroll {
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  cursor: pointer;
  color: initial;
}

blockquote {
  position: relative;
}

blockquote::before{
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  background-color:  grey;
  height: 100%;
  width: 5px;
}

.prose {
  max-width: 65vw !important;
}

:root[data-theme="dark"] {
  .custom-scroll {
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #888;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #f1f1f1;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
  
}


