@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  font-family: Inter,ui-sans-serif,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  --header-height: 64px;
  --footer-height: 82px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  cursor: pointer;
}

blockquote {
  position: relative;
}

blockquote::before{
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  background-color:  grey;
  height: 100%;
  width: 5px;
}

.custom-scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

:root[data-theme="dark"] .custom-scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #888;
  }
  
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 
}


.docs-toc-wrapper {
  position: relative;
}

.docs-toc-wrapper:before {
  width: 1px;
  height: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: -0.875rem;
  transform: translateY(-50%);
  background-color: rgb(51, 51, 51, 0.2);
}

:root[data-theme="dark"] .docs-toc-wrapper:before {
  background-color: rgba(255, 255, 255, 0.5);
}